{% extends 'base.html' %}

{% block content %}
<div class="lg-p-2 container">

    {% if foundUsername %}
    <div class="row">
        <div class="mt-lg-4 mb-lg-4 col-6">
            <div class="p-lg-4 card">
                <h2>Welcome, {{foundUsername}} </h2>
            </div>
        </div>
        <div class="mt-lg-5 col-4">
            <div class="p-lg-2 card">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Sheets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Expenses</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="p-lg-3 col-6">
            <div class="card">
                <div class="conatiner">
                    <div class="row">
                        <div class="p-lg-3 col-6">
                            {% if user_accounts %}
                            <h4 class="text-center">Accounts</h4>
                            {% for account in user_accounts %}
                            <p class="text-center">{{ account.account_name }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="p-lg-3 col-3">
                            {% if user_accounts %}
                            <h4>Type</h4>
                            {% for account in user_accounts %}
                            <p>{{ account.account_type }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="p-lg-3 col-3">
                            {% if user_accounts %}
                            <h4>Balance</h4>
                            {% for account in user_accounts %}
                            <p>${{ account.account_balance}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="p-lg-3 col-5">
            <div class="p-lg-3 card">
                <h4 class="text-start">Expenses</h4>
                {% if user_expenses %}
                {% for expense in user_expenses %}
                <div class="card start m-lg-2 p-lg-2">
                    <div class="row">
                        <div class="col-5">
                            <p class="text-center">{{ expense }}</p>
                        </div>
                        <div class="col-7">
                            <p class="text-center">${{ expense.cost }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <button type="button" class="m-lg-4 btn btn-outline-info btn-sm">Add Expense</button>
            </div>
            <div class="row">
                <div class="mt-lg-4 card">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-start p-lg-2">Goals</h4>
                        </div>

                        <div class="col-6">
                            <h4 class="text-end m-lg-2">Total Saved:</h4>
                        </div>
                    </div>
                    {% if user_goals%}
                    <div class="row">
                        {% for goal in user_goals%}
                        <div class="col-3">
                            <p class="text-center">{{ goal }}</p>
                        </div>
                        <div class="col-4">
                            <p class="text-center">${{goal.goal_total}}</p>
                        </div>
                        <div class="col-5">
                            <p class="text-center">${{goal.balance_saved}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="m-lg-3 btn btn-outline-success btn-sm">Add Goal</button>
                    {% else %}
                    <p class="font-monospace text-center ">No Current Goals</p>
                    <button type="button" class="m-lg-3 btn btn-outline-success btn-sm">Add Goal</button>
                    {% endif%}

                </div>
            </div>
        </div>
    </div>


    {% else %}
    <p>No accounts are available for username</p>
    {% endif %}
    {% endblock %}
</div>